# extends: ../tspconfig.yaml                    # Extend another config file
emit:
  # Emitter name
  - "@typespec/openapi3"
  - "@typespec/json-schema"
options:

  "@typespec/openapi3":
    emitter-output-dir: "{output-dir}/{emitter-name}"
#    seal-object-schemas: true
#    emitter-output-dir: "{project-root}/../rpp_server_python_connexion/src/"
  "@typespec/json-schema":
    emitter-output-dir: "{output-dir}/{emitter-name}"
#    seal-object-schemas: true
#    emitter-output-dir: "{project-root}/../rpp_server_python_connexion/src/rpp_schema_validator/schemas/"
    file-type: "json"
    int64-strategy: "number"

# options:                                      # Emitter options
#   <emitter-name>:
#    "<option-name>": "<option-value>"
# environment-variables:                        # Environment variables which can be used to interpolate emitter options
#   <variable-name>:
#     default: "<variable-default>"
# parameters:                                   # Parameters which can be used to interpolate emitter options
#   <param-name>:
#     default: "<param-default>"
# trace:                                        # Trace areas to enable tracing
#  - "<trace-name>"
# warn-as-error: true                           # Treat warnings as errors
# output-dir: "{project-root}/_generated"       # Configure the base output directory for all emitters
